$small-screen: 500px;
$animation-duration: octocat-wave 560ms ease-in-out;

.github-corner {
  svg {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    color: var(--globar-bg-color);
    fill: #fff;
  }

  &:hover {
    @media (min-width: $small-screen) {
      .octo-arm {
        animation: $animation-duration;
      }
    }
  }

  .octo-arm {
    @media (max-width: $small-screen) {
      animation: $animation-duration;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
