$small: 600px;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: Raleway, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  text-shadow: 3px 3px 10px rgb(0 0 0 / 60%);
}

h1 {
  font-size: 60px;

  span {
    display: block;
    font-size: 50px;

    @media screen and (max-width: $small) {
      font-size: 35px;
    }
  }

  @media screen and (max-width: $small) {
    font-size: 40px;
  }
}

h2 {
  font-size: 35px;

  @media screen and (max-width: $small) {
    font-size: 30px;
  }
}
