@use 'sass:color';
@use 'sass:math';
@use '../settings/variables' as *;

$sign-of-the-horns-color: yellow;
$sign-of-the-horns-width: 360px;
$sign-of-the-horns-height: 250px;

// Palm
#sign-of-the-horns {
  background: linear-gradient(
    to bottom,
    transparent 60%,
    $sign-of-the-horns-color 60%
  );
  width: $sign-of-the-horns-width;
  height: $sign-of-the-horns-height * 2.3;
  border-radius: 86% 58% 52% / 0 38% 43%;

  // position: relative;
  // transform: scale(0.5);
  position: relative;

  $finger-height: 200px;
  $finger-width: math.div($sign-of-the-horns-width, 4) - 5px;

  // index finger
  &::before {
    display: block;
    width: $finger-width;
    height: $finger-height;
    content: '';
    background: $sign-of-the-horns-color;
    position: absolute;
    top: 30px;
    right: 20px;
    border-radius: 50% / 22%;
    box-shadow:
      // index finger
      0 125px 0 $sign-of-the-horns-color,
      -5px math.div($finger-height, 1.3) 0 color.scale($color:
            $sign-of-the-horns-color, $lightness: -20%),
      // middle finger
      -$finger-width math.div($finger-height, 1.3) 0 $sign-of-the-horns-color,
      -95px 170px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
      // ring finger
      -($finger-width * 2) math.div($finger-height, 1.3) 0 $sign-of-the-horns-color,
      -178px 170px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
      // pinky finger
      -($finger-width * 3) math.div($finger-height, 3) $sign-of-the-horns-color,
      -($finger-width * 3) math.div($finger-height, 1.3) $sign-of-the-horns-color;
  }

  // thumb
  &::after {
    display: block;
    width: math.div($finger-height, 1.4);
    height: $finger-width + 8px;
    content: '';
    background: $sign-of-the-horns-color;
    position: absolute;
    top: 300px;
    right: 70px;
    border-radius: 40% 35% 0 / 50%;
    box-shadow:
      70px 0 0 $sign-of-the-horns-color,
      -16px 8px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
      -5px -1px 0
        color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
      50px 0 0 $sign-of-the-horns-color,
      48px -1px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%);
  }
}
