@use 'sass:math';

%pseudo-element {
  content: '';
  position: absolute;
  display: block;
}

// Palm
.sign-of-the-horns {
  $height: 500px;

  &_detailed {
    $width: math.round(math.div($height, 1.6));
    $finger-height: math.round(math.div($height, 2.85));
    $finger-width: math.round(math.div($width, 4.2));
    $finger-down-top: math.round(math.div($finger-height, 1.3));
    $finger-down-shadow-top: math.round($finger-down-top * 1.08);
    $shadow-alpha: #00000060;

    --bg-color: #ffc929;
    --shadow: color-mix(in srgb, black 34%, var(--bg-color));

    position: relative;

    width: $width;
    height: math.div($height, 2.5);
    margin-top: math.round($height - math.div($height, 2.2));

    background: var(--bg-color);
    border-radius: 0 0 50% 50% / 0 50% 100% 90%;

    // index finger
    &::before {
      @extend %pseudo-element;

      top: -(math.round(math.div($height, 1.835)));
      right: $width - $finger-width * 4;

      width: $finger-width;
      height: $finger-height;

      background: var(--bg-color);
      border-radius: 50% / 22%;
      box-shadow:
        // index finger
        0 math.div($finger-height, 1.65) 0 var(--bg-color),
        -($finger-width * 0.05) math.div($finger-height, 1.7) 0 $shadow-alpha,
        // middle finger
        -$finger-width $finger-down-top 0 var(--bg-color),
        -($finger-width * 1.08) $finger-down-shadow-top 0 $shadow-alpha,
        // ring finger
        -($finger-width * 2) $finger-down-top 0 var(--bg-color),
        -($finger-width * 2.08) $finger-down-shadow-top 0 $shadow-alpha,
        // pinky finger
        -($finger-width * 3) math.div($finger-height, 3) var(--bg-color),
        -($finger-width * 3) $finger-down-top var(--bg-color);
    }

    // thumb
    &::after {
      $thumb-width: math.round(math.div($finger-height, 1.4));

      @extend %pseudo-element;

      top: -(math.round(math.div($height, 13.5)));
      right: 0;

      width: $thumb-width;
      height: math.round($finger-width * 1.08);

      background: var(--bg-color);
      border-radius: 50% 35% 0 40% / 50% 45% 50% 45%;
      box-shadow:
        -(math.div($thumb-width, 2)) 0 0 var(--bg-color),
        -($thumb-width * 0.585) ($finger-height * 0.035) 0 var(--shadow),
        -($thumb-width * 0.25) 0 0 var(--bg-color),
        -($thumb-width * 0.34) ($finger-height * 0.01 * -1) 0 var(--shadow),
        -($thumb-width * 0.57) ($finger-height * 0.01 * -1) 0 var(--shadow),
        -($thumb-width * 0.58) 0 0 var(--shadow);
    }
  }

  &_simplified {
    $width: math.round(math.div($height, 1.48));
    $stroke-size: math.round($width * 0.03);
    $finger-width: math.round($width * 0.213);
    $finger-height: math.round(math.div($width, 1.9));
    $top-finger: 60px;

    --bg-color: #fff;
    --stroke-color: #000;

    position: relative;

    width: $width;
    height: 280px;
    margin-top: 175px;

    background: var(--bg-color);
    border: $stroke-size solid var(--stroke-color);
    border-top: 0;
    border-radius: 0 0 40% 40% / 40%;

    &::before {
      @extend %pseudo-element;

      top: -110px;

      width: $finger-width;
      height: $finger-height;

      background: var(--bg-color);
      border-radius: 50% / 15%;
      box-shadow:
        0 20px 0 var(--bg-color),
        0 0 0 $stroke-size var(--stroke-color),
        ($finger-width + $stroke-size) $top-finger 0 var(--bg-color),
        ($finger-width + $stroke-size) $top-finger 0 $stroke-size
          var(--stroke-color),
        (($finger-width * 2) + ($stroke-size * 2)) $top-finger 0 var(--bg-color),
        (($finger-width * 2) + ($stroke-size * 2)) $top-finger 0 $stroke-size
          var(--stroke-color),
        (($finger-width * 3) + ($stroke-size * 3)) 0 0 var(--bg-color),
        (($finger-width * 3) + ($stroke-size * 3)) 20px 0 var(--bg-color),
        (($finger-width * 3) + ($stroke-size * 3)) 0 0 $stroke-size
          var(--stroke-color);
    }

    &::after {
      @extend %pseudo-element;

      top: 50px;
      right: -20px;
      transform: rotate(5deg);

      width: 100px;
      height: $finger-width;

      background: var(--bg-color);
      border: $stroke-size solid var(--stroke-color);
      border-radius: 25px;
    }
  }
}
