@use 'sass:color';
@use 'sass:math';
@use '../settings/variables' as *;

$sign-of-the-horns-color: yellow;
$sign-of-the-horns-width: 360px;
$sign-of-the-horns-height: 250px;

// Palm
#sign-of-the-horns {
  &.detailed {
    background: linear-gradient(
      to bottom,
      transparent 60%,
      $sign-of-the-horns-color 60%
    );
    width: $sign-of-the-horns-width;
    height: $sign-of-the-horns-height * 2.3;
    border-radius: 86% 58% 52% / 0 38% 43%;

    // position: relative;
    // transform: scale(0.5);
    position: relative;

    $finger-height: 200px;
    $finger-width: math.div($sign-of-the-horns-width, 4) - 5px;

    // index finger
    &::before {
      display: block;
      width: $finger-width;
      height: $finger-height;
      content: '';
      background: $sign-of-the-horns-color;
      position: absolute;
      top: 30px;
      right: 20px;
      border-radius: 50% / 22%;
      box-shadow:
      // index finger
        0 125px 0 $sign-of-the-horns-color,
        -5px math.div($finger-height, 1.3) 0 color.scale($color:
              $sign-of-the-horns-color, $lightness: -20%),
        // middle finger
        -$finger-width math.div($finger-height, 1.3) 0 $sign-of-the-horns-color,
        -95px 170px 0 color.scale($color: $sign-of-the-horns-color, $lightness:
              -20%),
        // ring finger
        -($finger-width * 2) math.div($finger-height, 1.3) 0 $sign-of-the-horns-color,
        -178px 170px 0 color.scale($color: $sign-of-the-horns-color, $lightness:
              -20%),
        // pinky finger
        -($finger-width * 3) math.div($finger-height, 3) $sign-of-the-horns-color,
        -($finger-width * 3) math.div($finger-height, 1.3) $sign-of-the-horns-color;
    }

    // thumb
    &::after {
      display: block;
      width: math.div($finger-height, 1.4);
      height: $finger-width + 8px;
      content: '';
      background: $sign-of-the-horns-color;
      position: absolute;
      top: 300px;
      right: 70px;
      border-radius: 40% 35% 0 / 50%;
      box-shadow:
        70px 0 0 $sign-of-the-horns-color,
        -16px 8px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
        -5px -1px 0
          color.scale($color: $sign-of-the-horns-color, $lightness: -20%),
        50px 0 0 $sign-of-the-horns-color,
        48px -1px 0 color.scale($color: $sign-of-the-horns-color, $lightness: -20%);
    }
  }

  &.simplified {
    $sign-of-the-horns-color: #fff;
    $sign-of-the-horns-width: 216px;
    $sign-of-the-horns-top-finger: 60px;
    $stroke-size: 8px;
    $sign-of-the-horns-finger-width: 44px;
    $sign-of-the-horns-finger-height: 120px;

    border: 8px solid #000;
    background: $sign-of-the-horns-color;
    width: $sign-of-the-horns-width;
    height: 150px;
    border-top: 0;
    border-radius: 0 0 50px 50px;
    position: relative;

    &::before {
      width: $sign-of-the-horns-finger-width;
      height: $sign-of-the-horns-finger-height;
      content: '';
      background: $sign-of-the-horns-color;
      position: absolute;
      top: -100px;
      border-radius: 20px;
      box-shadow:
        0 20px 0 $sign-of-the-horns-color,
        0 0 0 $stroke-size $bg-color,
        ($sign-of-the-horns-finger-width + $stroke-size)
          $sign-of-the-horns-top-finger 0 $sign-of-the-horns-color,
        ($sign-of-the-horns-finger-width + $stroke-size)
          $sign-of-the-horns-top-finger 0 $stroke-size $bg-color,
        (($sign-of-the-horns-finger-width * 2) + ($stroke-size * 2))
          $sign-of-the-horns-top-finger 0 $sign-of-the-horns-color,
        (($sign-of-the-horns-finger-width * 2) + ($stroke-size * 2))
          $sign-of-the-horns-top-finger 0 $stroke-size $bg-color,
        (($sign-of-the-horns-finger-width * 3) + ($stroke-size * 3)) 0 0
          $sign-of-the-horns-color,
        (($sign-of-the-horns-finger-width * 3) + ($stroke-size * 3)) 20px 0
          $sign-of-the-horns-color,
        (($sign-of-the-horns-finger-width * 3) + ($stroke-size * 3)) 0 0
          $stroke-size $bg-color;
    }

    &::after {
      width: 100px;
      height: $sign-of-the-horns-finger-width;
      content: '';
      background: $sign-of-the-horns-color;
      position: absolute;
      top: 50px;
      border-radius: 25px;
      right: -20px;
      border: $stroke-size solid $bg-color;
      transform: rotate(5deg);
    }
  }
}
