.switch {
  cursor: pointer;

  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: fit-content;

  // padding: 10px;
  margin: 0;

  font-weight: bold;
  color: #343434;

  background: #343434;
  border: 10px solid #343434;
  border-radius: 20px;

  &::before {
    content: '';

    position: absolute;
    left: 0%;

    width: 50%;
    height: 100%;

    background: white;
    border-radius: 10px;

    transition: all 0.3s;
  }

  & span {
    z-index: 1;
    padding: 5px 10px;
    text-align: center;
  }

  #switch-input:checked + &::before {
    left: 50%;
  }
}

#switch-input {
  display: none;

  & + .switch span:first-child {
    color: #343434;
    transition: color 0.3s;
  }

  & + .switch span:last-child {
    color: grey;
    transition: color 0.3s;
  }

  &:checked + .switch span:first-child {
    color: grey;
    transition: color 0.3s;
  }

  &:checked + .switch span:last-child {
    color: #343434;
    transition: color 0.3s;
  }
}
