{
  "extends": ["stylelint-stylus/standard"],
  "rules": {
    "stylus/declaration-colon": "always",
    "stylus/selector-type-no-unknown": [
      true,
      {
        "ignore": ["default-namespace"]
      }
    ]
  }
}
