html {
  overflow: hidden;
  height: 100%;
  background-color: var(--globar-bg-color);
  background-image: radial-gradient(
    circle at center 60%,
    #202020 10%,
    var(--globar-bg-color) 70%
  );
  font-size: 100%;

  @media screen and (orientation: portrait) and (height <= 2000px) {
    background-image: radial-gradient(
      ellipse closest-corner at center 30%,
      #202020 0,
      var(--globar-bg-color) 90%
    );
  }

  @media screen and (orientation: portrait) and (height <= 1000px) {
    background-image: radial-gradient(
      circle at center 50%,
      #202020 25%,
      var(--globar-bg-color) 100%
    );
  }
}

body {
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/skulls.svg');
  background-repeat: repeat;
  background-size: 180px 180px;
  color: var(--base-text-color);
  font: normal normal var(--base-font-size) / var(--base-line-height)
    var(--font-family-base);
  font-feature-settings: 'liga', 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  transition: ease-out background-size 1s;

  ::selection {
    background: var(--selection-bg-color);
    color: var(--selection-color);
  }

  @media screen and (width <= 768px) {
    background-size: 120px 120px;
  }

  /*!
   * Better Font Smoothing in Chrome & Safari
   */
  @media only screen and (resolution >= 1.25),
    only screen and (resolution >= 200dpi),
    only screen and (resolution >= 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
