@use 'settings/variables' as *;

/*!
*
* Box model reset
* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;

  font-size: 100%;

  background-color: #272626;
  background-image: linear-gradient(-45deg, #000, #353434, #414040, #000);
  background-size: 400% 400%;

  animation: gradient 10s ease infinite;

  @media screen and (width <= 768px) {
    background-image: none;
    animation-duration: 6s;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  font: normal normal #{$base-font-size}/#{$base-line-height} $font-family-base;
  font-feature-settings: 'liga', 'kern';
  color: $base-text-color;
  text-rendering: optimizelegibility;

  background-image: $bg-color;
  background-image: url('../images/skulls.svg');
  background-size: 180px 180px;

  transition: background-size 0.5s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    color: $selection-color;
    background: $selection-bg-color;
  }

  @media screen and (width <= 768px) {
    background-size: 100px 100px;
  }

  /*!
   * Better Font Smoothing in Chrome & Safari
   */
  @media only screen and (resolution >= 1.25),
    only screen and (resolution >= 200dpi),
    only screen and (resolution >= 1.25dppx) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
