//Color

$bg-color = #470303
$primary-color = ""
$secondary-color = ""
$tertiary-color = ""

//Paths
$font-path = "../fonts/"
$image-path = "../images/"

//Typography

$font-family-base = Helvetica, Arial, sans-serif

$font-size-base = 16px

$color-text = #000

$font-size-h1 = 36
$font-size-h2 = 32
$font-size-h3 = 30
$font-size-h4 = 28
$font-size-h5 = 24
$font-size-h6 = 20

//sign-of-the-horns
$sign-of-the-horns-color = #FFF
$sign-of-the-horns-width = 200px
$sign-of-the-horns-top-finger = 60px
$stroke-size = 8px
$sign-of-the-horns-finger-width = ($sign-of-the-horns-width / 4) - ($stroke-size - 25%)
$sign-of-the-horns-finger-height = 120px
