columns($count, $width = null, $gap = null)
  -webkit-columns: $width $count
  -moz-columns: $width $count
  columns: $width $count
  if $gap != null
    -webkit-column-gap: $gap
    -moz-column-gap: $gap
    column-gap: $gap
